/* ==========================
        Estilos Generales
   ========================== */

:root {
    --primary-color: #a6c6e9;
    --background-color: #F5F5F5;
    --dark-color: #2d4c55;
    --background-color-2: #EFF1F0;
    --logo: #003F5F;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================
            Header
   ========================== */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 100;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 2000px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--dark-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 28px;
    font-weight: 600;
    color: var(--logo);
    text-decoration: none;
    margin-left: 50px;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--logo);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    width: 70%;
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.searchToggle i{
    position: absolute;
    color: var(--dark-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--dark-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
}

.search-field i{
    position: absolute;
    color: var(--dark-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    color: #193760;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all .50s ease;
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: #193760;
    font-size: 23px;
    margin-right: 7px;
}

.main a:hover {
    color: #193760;
}

/* ==========================
            content
   ========================== */

.izquierda {
    background: var(--background-color-2);
    width: 50%;
    height: 100vh;
}

.derecha {
    background: url(../imagenes/Emprendedora.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

#pantalla-dividida {
    display: flex;
}

.about {
    color: #a6c6e9;
}

.content-h1 {
    font-size: 60px;
    width: 50%;
    margin-top: 180px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.content-p {
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-left: 100px;
    text-align: justify;
}

.btn-open-popup {
    border: 1px solid #2d4c55;
    padding: 20px;
    text-decoration: none;
    color: #a6c6e9;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
}

/* ==========================
            POPUP
   ========================== */

.container-all {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    z-index: 999;
}

.container-all:target {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.container-all:target .popup {
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.popup {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: var(--background-color-2);
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
    border-radius: 20px;
}

.img {
    width: 40%;
    background-image: url(../imagenes/G6.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.container-text {
    width: 70%;
    padding: 50px;
    overflow-y: auto;
}

.container-text h1 {
    margin-top: -5px;
    font-size: 25px;
}

.container-text p {
    margin-top: 20px;
    font-size: 16px;
    text-align: justify;
}

.btn-close-popup {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: #2d4c55;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    text-decoration: none;
    font-size: 15px;
}

.emp {
    color: #a6c6e9;
}

/* ==========================
        Sobre Nosotros
   ========================== */

.title{
    text-align: center;
    font-size: 40px;
    color: #003F5F;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: 600;
}

.tarjeta {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

aside.card {
    background-color: white;
    width: 380px;
    height: 350px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

aside.card h1 {
    font-size: 24px;
    font-weight: 600;
    color: #003F5F;
    margin-bottom: 15px;
}

aside.card p {
    font-size: 16px;
    color: #a6c6e9;
    margin: 0 30px 15px 30px;
    text-align: justify;
}

aside.card:hover p {
    color: white;
}

aside.card .clip {
    position: absolute;
    background-color: #a6c6e9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    clip-path: circle(15% at 105% 47.5%);
    transition: .5s all ease-in-out;
}

aside.card .clip h2 {
    color: #2d4c55;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

aside.card .cLip p {
    color: #a6c6e9;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

aside.card:hover .clip {
    clip-path: circle(150% at 105% 47.5%);
}

aside.card .val {
    font-weight: 600;
}

/* ==========================
            Footer
   ========================== */

footer {
    width: 100%;
    position: absolute;
    padding: 2rem 8%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icons-container i {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    color: #003F5F;
}

.footer-menu-container {
    list-style-type: none;
    color: #003F5F;
    font-size: 18px;
}

.menu-item {
    margin: 1rem 1.5rem;
}

.menu-item a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
    color: #2d4c55;
}

.menu-item a:hover {
    opacity: 1;
}

.copyright {
    color: #003F5F;
    opacity: 0.8;
    text-align: center;
}

/* ==========================
         Queries 820px
   ========================== */

@media (max-width: 820px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--background-color-2);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--dark-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }

    #pantalla-dividida {
        margin-top: 70px;
    }

    .izquierda,
    .derecha {
        width: 100%;
        height: auto;
    }

    .content-h1 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .content-p {
        width: 90%;
        font-size: 16px;
        padding-left: 50px;
    }

    .btn-open-popup {
        font-size: 14px;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }

    .content-h1 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .content-p {
        margin: 0;
        line-height: 25px;
    }

    .popup {
        max-width: 80%;
        height: 580px;
        flex-flow: column-reverse;
    }

    .img {
        width: 100%;
        height: 200px;
        border-radius: 0 0 20px 20px;
    }

    .container-text {
        width: 100%;
        padding: 0 50px 50px 50px;
    }
    
    .tarjeta {
        height: auto;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tarjeta .card {
        width: calc(48% - 5px);
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .tarjeta .card:last-child {
        width: 100%;
        margin: 0 10px;
        margin-bottom: 0;
    }

    aside.card .clip h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .title{
        text-align: center;
        font-size: 40px;
        color: #003F5F;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 600;
    }
}

/* ==========================
         Queries 468px
   ========================== */

@media (max-width: 468px) {
    html {
        font-size: 30%;
    }

    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .main a {
        margin-right: -10px;
    }
    
    .searchBox {
        margin-right: -10px;
        margin-left: 5px;
    }

    #pantalla-dividida {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .btn-open-popup {
        font-size: 14px;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }

    .popup {
        max-width: 100%;
        height: 680px;
        flex-flow: column-reverse;
    }

    .container-text {
        width: 100%;
        padding: 30px 30px 10px 30px;
    }
    
    .tarjeta {
        height: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .tarjeta .card {
        width: 80%;
    }

    .tarjeta .card:last-child {
        width: 80%;
        margin: 0 10px;
        margin-bottom: 0;
    }

    aside.card .clip h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .title{
        text-align: center;
        font-size: 40px;
        color: #003F5F;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 600;
    }

}